@charset "uft-8";

header {
    width: 100%;
    height: 115px;
    margin: 0 auto;
    background-color: aqua;
}

/* main */
main {
    width: 100%;
    /* height: 1280px;  */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#container {
    width: 1275px;
    height: 100%;
}

#my {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    padding: 35px;
    background-color: beige;
}

#my a {
    font-size: 35px;
}

aside {
    /* width: 25%; */
    height: 940px;
    background-color: yellowgreen;
    display: flex;
}

aside ul li.big{
    font-size: 20px;
    margin-top: 30px;
}

#container2 {
    width: (100%-25%);
}

#welcome {
    /* width: 955px; */
    height: 70px;
    background-color: rgba(240, 238, 238, 0.61);
    border-radius: 10px;
    margin-left: 10px;
}

#recent {
    /* width: 955px; */
    height: 137px;
    background-color: blueviolet;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

#banner {
    /* width: 955px; */
    height: 130px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

#history {
    /* width: 955px; */
    height: 170px;
    margin-left: 10px;
    margin-top: 15px;
    background-color: brown;
}

#tab {
    width: 415px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

#message {
    /* width: 955px; */
    height: 155px;
    margin-left: 10px;
    background-color: gold;
}

#review {
    /* width: 955px; */
    height: 155px;
    margin-left: 10px;
    background-color: chartreuse;
}

